<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" />
    <link rel="stylesheet" href="//unpkg.com/@phosphor-icons/web@2.0.3/src/regular/style.css" />
    <title><%=title%></title>
  </head>
  <body>
  <div class="document">
    <div class="document__side">
      <h1 class="document__title">Знакомьтесь, Youla.js 🎉</h1>
      <div class="document__description">
        <p>Крошечная, но мощная JS-библиотека для создания интерактивных интерфейсов.</p>
        <p>Vue-подобный API: описание поведения прямо в разметке, с автоматической реактивностью и обновлением интерфейса в реальном времени.</p>
      </div>
      <nav class="document__nav">
        <ul class="document__menu">
          <li>
            <a class="document__menu-link" href="/">Установка</a>
          </li>
          <li>
            <a class="document__menu-link" href="/syntax">Полный синтаксис</a>
          </li>
          <li>
            <a class="document__menu-link" href="/events">События</a>
          </li>
          <li>
            <a class="document__menu-link" href="/attributes">Атрибуты</a>
          </li>
          <li>
            Директивы
            <ul>
              <li>
                <a class="document__menu-link" href="/v-data">v-data</a>
              </li>
              <li>
                <a class="document__menu-link" href="/v-text">v-text</a>
              </li>
              <li>
                <a class="document__menu-link" href="/v-html">v-html</a>
              </li>
              <li>
                <a class="document__menu-link" href="/v-show">v-show</a>
              </li>
              <li>
                <a class="document__menu-link" href="/v-prop">v-prop</a>
              </li>
              <li>
                <a class="document__menu-link" href="/v-each">v-each</a>
              </li>
              <li>
                <a class="document__menu-link" href="/v-bind">v-bind</a>
              </li>
            </ul>
          </li>
          <li>
            <a class="document__menu-link" href="/examples">Примеры</a>
            <ul>
              <li>
                <a class="document__menu-link" href="/to-do">To Do</a>
              </li>
              <li>
                <a class="document__menu-link" href="/editor">Page Builder</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <ul class="document__links">
        <li class="document__link">
          <a href="https://github.com/yanaleksandrov/Youla.js" target="_blank">See project in <strong>GitHub</strong></a>
        </li>
        <li class="document__link">
          <a href="https://github.com/yanaleksandrov/Youla.js" target="_blank">Download (11kB) <strong>Youla.js</strong></a>
        </li>
      </ul>
      <div class="document__footer">This project is maintained by <a href="https://github.com/yanaleksandrov" target="_blank">Yan Aleksandrov</a></div>
    </div>
    <div class="document__main">
