<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="//unpkg.com/@phosphor-icons/web@2.0.3/src/regular/style.css" />
    <title><%=title%></title>
  </head>
  <body>
  <div class="document">
    <div class="document__side">
      <h1 class="document__title">Meet the X.js 🎉</h1>
      <div class="document__description">
        <p>A tiny and powerful JS library for creating interactive user interfaces.</p>
        <p>
          It offers a Vue-like API for markup-driven development with
          automatic reactions, updates, and real-time rendering.
        </p>
      </div>
      <nav class="document__nav">
        <ul class="document__menu">
          <li>
            <a class="document__menu-link" href="/">Установка</a>
          </li>
          <li>
            <a class="document__menu-link" href="/events">События</a>
          </li>
          <li>
            Директивы
            <ul>
              <li>
                <a class="document__menu-link" href="/x-data">x-data</a>
              </li>
              <li>
                <a class="document__menu-link" href="/x-text">x-text</a>
              </li>
              <li>
                <a class="document__menu-link" href="/x-html">x-html</a>
              </li>
              <li>
                <a class="document__menu-link" href="/x-show">x-show</a>
              </li>
              <li>
                <a class="document__menu-link" href="/x-hide">x-hide</a>
              </li>
              <li>
                <a class="document__menu-link" href="/x-prop">x-prop</a>
              </li>
              <li>
                <a class="document__menu-link" href="/x-each">x-each</a>
              </li>
            </ul>
          </li>
          <li>
            <a class="document__menu-link" href="/examples">Примеры</a>
            <ul>
              <li>
                <a class="document__menu-link" href="/to-do">To Do</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <ul class="document__links">
        <li class="document__link">
          <a href="https://github.com/yanaleksandrov/x.js" target="_blank">See project in <strong>GitHub</strong></a>
        </li>
        <li class="document__link">
          <a href="https://github.com/yanaleksandrov/x.js" target="_blank">Download (11kB) <strong>X.js</strong></a>
        </li>
      </ul>
      <div class="document__footer">This project is maintained by <a href="https://github.com/yanaleksandrov" target="_blank">Yan Aleksandrov</a></div>
    </div>
    <div class="document__main">
