
<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Menu</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  <style>
		:root {
			--expansa-font-text: "Inter", sustem-ui, sans-serif !important;
		}
  </style>
  <link rel="stylesheet" type="text/css" id="expansa-css" href="https://expansa.org/dashboard/assets/css/expansa.css" />
  <link rel="stylesheet" type="text/css" id="controls-css" href="https://expansa.org/dashboard/assets/css/controls.css" />
  <link rel="stylesheet" type="text/css" id="utility-css" href="https://expansa.org/dashboard/assets/css/utility.css" />
  <link rel="stylesheet" type="text/css" id="phosphor-css" href="https://expansa.org/dashboard/assets/css/phosphor.css" />
</head>
<body class="df jcc p-6">
<div class="mw-400">
  <div class="df jcc">
    <img src="https://expansa.org/dashboard/assets/images/logo-grid.svg" width="200" height="117" alt="Expansa CMS">
  </div>
  <form id="system-install" method="POST" class="dg g-2" @submit.prevent="$ajax.post(&quot;system/install&quot;).then(() =&gt; goto(5))" u-data="{...step, compat: {}, isCompatible: false}">
    <!-- step 1 -->
    <div class="dg g-8 pt-8" u-step.required>
      <header class="t-center">
        <h4>Welcome to Expansa!</h4>
        <p class="t-muted">This is installation wizard. Before start, you need to set some settings. Please fill the information about your website.</p>
      </header>
      <div class="card-hr">Website data</div>
      <div class="field">
        <div class="field-label">Site name <i class="t-red">*</i></div>
        <label class="field-item">
          <input type="text" name="site[name]" u-prop="site.name" placeholder="Example: My Blog" required u-autocomplete>
        </label>
      </div>
      <div class="field">
        <div class="field-label">Site tagline</div>
        <label class="field-item">
          <input type="text" name="site[tagline]" u-prop="site.tagline" placeholder="Example: Just another Expansa site" u-autocomplete>
        </label>
        <div class="field-instruction">Don&#039;t worry, you can always change these settings later</div>
      </div>
    </div>
    <!-- step 2 -->
    <div class="dg g-8 pt-8" hidden u-step.required u-step:action="compat = {}; isCompatible = false">
      <header class="t-center">
        <h4>Step 1: Database</h4>
        <p class="t-muted">Information about connecting to the database. If you are not sure about it, contact your hosting provider.</p>
      </header>
      <div class="card-hr">Database credits</div>
      <div class="field">
        <div class="field-label">Database name <i class="t-red">*</i></div>
        <label class="field-item">
          <input type="text" name="db[database]" u-prop="db.database" placeholder="database_name" required u-autocomplete>
        </label>
        <div class="field-instruction">Specify the name of the empty database</div>
      </div>
      <div class="field">
        <div class="field-label">MySQL database user name <i class="t-red">*</i></div>
        <label class="field-item">
          <input type="text" name="db[username]" u-prop="db.username" placeholder="user_name" required u-autocomplete>
        </label>
        <div class="field-instruction">User of the all privileges in the database</div>
      </div>
      <div class="field">
        <div class="field-label">MySQL password <i class="t-red">*</i></div>
        <label class="field-item">
          <input type="text" name="db[password]" u-prop="db.password" placeholder="Password" required u-autocomplete>
        </label>
        <div class="field-instruction">Password for the specified user</div>
      </div>
      <div class="dg g-7 gtc-4 sm:gtc-1">
        <div class="dg ga-4 g-7 gtc-2 sm:gtc-1">
          <div class="field">
            <div class="field-label">Hostname <i class="t-red">*</i></div>
            <label class="field-item">
              <input type="text" name="db[host]" u-prop="db.host" value="localhost" placeholder="Hostname" required u-autocomplete>
            </label>
          </div>
          <div class="field">
            <div class="field-label">Prefix <i class="t-red">*</i></div>
            <label class="field-item">
              <input type="text" name="db[prefix]" u-prop="db.prefix" value="expansa_" placeholder="Prefix" required u-autocomplete>
            </label>
          </div>
        </div>
      </div>
    </div>
    <!-- step 3 -->
    <div class="dg g-8 pt-8" method="post" u-step="isCompatible" u-step:action="$ajax.post(&quot;system/test&quot;, db).then(response =&gt; ({ isCompatible, compat } = response))" hidden>
      <header class="t-center">
        <h4>Step 2: System check</h4>
        <p class="t-muted">This is an important step that will help make sure that your server is ready for installation and properly configured.</p>
      </header>
      <div class="card-hr">System check</div>
      <div class="field">
        <ul class="dg g-1">
          <li class="df aic">
                            <span class="badge badge--xl badge--round badge--icon" :class="compat.pdo === undefined ? 'badge--load' : (compat.pdo ? 't-green' : 't-red')">
                                <i class="ph" :class="compat.pdo ? 'ph-check' : 'ph-x'"></i>
                            </span>
            <span class="ml-4">PDO PHP Extension</span>
          </li>
          <li class="df aic">
                            <span class="badge badge--xl badge--round badge--icon" :class="compat.curl === undefined ? 'badge--load' : (compat.curl ? 't-green' : 't-red')">
                                <i class="ph" :class="compat.curl ? 'ph-check' : 'ph-x'"></i>
                            </span>
            <span class="ml-4">cURL PHP Extension</span>
          </li>
          <li class="df aic">
                            <span class="badge badge--xl badge--round badge--icon" :class="compat.mbstring === undefined ? 'badge--load' : (compat.mbstring ? 't-green' : 't-red')">
                                <i class="ph" :class="compat.mbstring ? 'ph-check' : 'ph-x'"></i>
                            </span>
            <span class="ml-4">Mbstring PHP Extension</span>
          </li>
          <li class="df aic">
                            <span class="badge badge--xl badge--round badge--icon" :class="compat.gd === undefined ? 'badge--load' : (compat.gd ? 't-green' : 't-red')">
                                <i class="ph" :class="compat.gd ? 'ph-check' : 'ph-x'"></i>
                            </span>
            <span class="ml-4">GD PHP Extension</span>
          </li>
          <li class="df aic">
                            <span class="badge badge--xl badge--round badge--icon" :class="compat.memory === undefined ? 'badge--load' : (compat.memory ? 't-green' : 't-red')">
                                <i class="ph" :class="compat.memory ? 'ph-check' : 'ph-x'"></i>
                            </span>
            <span class="ml-4">128MB or more allocated memory</span>
          </li>
          <li class="df aic">
                            <span class="badge badge--xl badge--round badge--icon" :class="compat.php === undefined ? 'badge--load' : (compat.php ? 't-green' : 't-red')">
                                <i class="ph" :class="compat.php ? 'ph-check' : 'ph-x'"></i>
                            </span>
            <span class="ml-4">PHP version 8.3 or higher</span>
          </li>
          <li class="df aic">
                            <span class="badge badge--xl badge--round badge--icon" :class="compat.connection === undefined ? 'badge--load' : (compat.connection ? 't-green' : 't-red')">
                                <i class="ph" :class="compat.connection ? 'ph-check' : 'ph-x'"></i>
                            </span>
            <span class="ml-4">Testing the database connection</span>
          </li>
          <li class="df aic">
                            <span class="badge badge--xl badge--round badge--icon" :class="compat.mysql === undefined ? 'badge--load' : (compat.mysql ? 't-green' : 't-red')">
                                <i class="ph" :class="compat.mysql ? 'ph-check' : 'ph-x'"></i>
                            </span>
            <span class="ml-4">MySQL version 8.0 or higher</span>
          </li>
        </ul>
      </div>
    </div>
    <!-- step 4 -->
    <div class="dg g-8 pt-8" hidden u-step.required>
      <header class="t-center">
        <h4>Step 3: Create account</h4>
        <p class="t-muted">Almost everything is ready! The last step: add website owner information.</p>
      </header>
      <div class="card-hr">Owner credits</div>
      <input type="hidden" name="user[is_verified]" u-prop="user.isVerified" value="1">
      <div class="field">
        <div class="field-label">Your email address <i class="t-red">*</i></div>
        <label class="field-item">
          <input type="email" name="user[email]" u-prop="user.email" placeholder="Enter email" @change="user.login = user.email.split(&#039;@&#039;)[0]" required u-autocomplete>
        </label>
        <div class="field-instruction">Double-check your email address before continuing</div>
      </div>
      <div class="field">
        <div class="field-label">Your language <i class="t-red">*</i></div>
        <label class="field-item">
          <select name="user[locale]" u-prop="user.locale" u-select="{&quot;showSearch&quot;: 1}" required>
            <option value="en-US" data-flag="us">English (US)</option>
            <option value="ru-RU" data-flag="ru">Russian - Русский</option>
          </select>
        </label>
        <div class="field-instruction">Set the language of your dashboard</div>
      </div>
      <div class="field">
        <div class="field-label">Your login <i class="t-red">*</i></div>
        <label class="field-item">
          <input type="text" name="user[login]" u-prop="user.login" placeholder="Enter login" required u-autocomplete>
        </label>
        <div class="field-instruction">Can use only alphanumeric characters, underscores, hyphens and @ symbol</div>
      </div>
      <div class="field" u-data="password">
        <div class="field-label">
          Your password <i class="t-red">*</i>
          <div class="ml-auto fw-400 fs-13 t-muted" @click="user.password = generate()">Generate</div>
        </div>
        <div class="field-item">
          <input type="password" name="user[password]" u-prop="user.password" placeholder="Password" required u-autocomplete :type="visible ? &#039;text&#039; : &#039;password&#039;" @input="check(user.password)">
          <i class="ph" :class="visible ? 'ph-eye-closed' : 'ph-eye'" @click="visible = !visible"></i>
        </div>
        <div class="dg g-2 gtc-2 t-muted fs-13 mt-3 lh-xs">
          <div class="df aifs g-2" :class="valid.lowercase && 't-green'">
            <i class="ph" :class="valid.lowercase ? 'ph-check' : 'ph-x'"></i>
            <span>2 lowercase letters</span>
          </div>
          <div class="df aifs g-2" :class="valid.uppercase && 't-green'">
            <i class="ph" :class="valid.uppercase ? 'ph-check' : 'ph-x'"></i>
            <span>2 uppercase letters</span>
          </div>
          <div class="df aifs g-2" :class="valid.special && 't-green'">
            <i class="ph" :class="valid.special ? 'ph-check' : 'ph-x'"></i>
            <span>2 special characters</span>
          </div>
          <div class="df aifs g-2" :class="valid.length && 't-green'">
            <i class="ph" :class="valid.length ? 'ph-check' : 'ph-x'"></i>
            <span>12 characters minimum</span>
          </div>
          <div class="df aifs g-2" :class="valid.digit && 't-green'">
            <i class="ph" :class="valid.digit ? 'ph-check' : 'ph-x'"></i>
            <span>2 numbers</span>
          </div>
        </div>
      </div>
    </div>
    <!-- step 5 -->
    <div class="dg g-8 pt-8" hidden u-step>
      <div class="dg jic m-auto t-center p-5 mw-320">
        <svg>
          <use xlink:href="/dashboard/assets/sprites/states.svg#success"></use>
        </svg>
        <h6 class="mt-4 mw">Woo-hoo, Expansa has been successfully installed!</h6>
        <p class="t-muted">We hope the installation process was easy. Thank you, and enjoy.</p>
      </div>
    </div>
    <div class="py-8 df jcsb g-2">
      <button type="button" class="btn btn--outline" u-show="isNotLast()" :disabled="cannotGoBack()" @click="goBack()" disabled>Back</button>
      <button type="button" class="btn btn--primary" u-show="isSteps([1, 3])" :disabled="cannotGoNext()" @click="goNext()" disabled>Continue</button>
      <button type="submit" class="btn btn--primary" u-show="isStep(4)" :disabled="cannotGoNext()" hidden disabled>Install Expansa</button>
      <a href="/dashboard/profile" class="btn btn--primary mx-auto" u-show="isLast()" hidden>Go to dashboard</a>
    </div>
  </form>
</div>
<script>
  var youla = {"apiurl":"\/api\/","flagsUrl":"https:\/\/expansa.org\/dashboard\/assets\/sprites\/flags.svg"}
</script>
</body>
</html>