<% var data = {
  title: "Page For Tests"
}; %>
<%= _.template(require('./parts/header.html').default)(data) %>

<form class="card card-border" method="post" v-data>
  <!-- step 1 -->
  <div v-step="name.trim()">
    <div class="t-center p-8">
      <h2>Welcome to Grafema!</h2>
      <p class="t-muted">This is installation wizard. Before start, you need to set some settings. Please fill the information about your website.</p>
    </div>
    <div class="card-hr">Website data</div>
    <div class="dg g-6 p-8 pb-0">
      <div class="dg g-1">
        <label class="dg g-1">
          <span class="df aic jcsb fw-600">Site name</span>
          <input type="text" value="Ian Aleksandrov" v-prop="name" placeholder="Example: My Blog" v-autocomplete required>
        </label>
      </div>
      <div class="dg g-1">
        <label class="dg g-1">
          <span class="df aic jcsb fw-600">Site description</span>
          <input type="text" v-prop="description" placeholder="Example: Just Another Website" v-autocomplete>
        </label>
        <div class="fs-13 t-muted"><?php I18n::e( 'Don\'t worry, you can always change these settings later.' ); ?></div>
      </div>
    </div>
  </div>

  <!-- step 2 -->
  <div v-step="dbname.trim() && username.trim() && db_password.trim() && hostname.trim() && prefix.trim()" v-show hidden>
    <div class="t-center p-8">
      <h2>Step 1: Database</h2>
      <p class="t-muted">Enter information about connecting to the database here. If you are not sure about it, contact your hosting provider.</p>
    </div>
    <div class="card-hr">Database credits</div>
    <div class="dg gtc-2 g-6 p-8 pb-0">
      <div class="dg g-1 ga-2">
        <label class="dg g-1">
          <span class="df aic jcsb fw-600">Database name</span>
          <input type="text" v-prop="dbname" placeholder="database_name" v-autocomplete required>
        </label>
      </div>
      <div class="dg g-1 ga-2">
        <label class="dg g-1">
          <span class="df aic jcsb fw-600">Database username</span>
          <input type="text" v-prop="username" placeholder="user_name" v-autocomplete required>
        </label>
      </div>
      <div class="dg g-1 ga-2">
        <label class="dg g-1">
          <span class="df aic jcsb fw-600">Database password</span>
          <input type="text" v-prop="db_password" placeholder="Password" v-autocomplete required>
        </label>
      </div>
      <div class="dg g-1 sm:ga-2">
        <label class="dg g-1">
          <span class="df aic jcsb fw-600">Hostname</span>
          <input type="text" v-prop="hostname" placeholder="Hostname" v-autocomplete required>
        </label>
      </div>
      <div class="dg g-1 sm:ga-2">
        <label class="dg g-1">
          <span class="df aic jcsb fw-600">Prefix</span>
          <input type="text" v-prop="prefix" placeholder="Prefix" v-autocomplete required>
        </label>
        <div class="fs-13 t-muted"><?php I18n::e( 'Don\'t worry, you can always change these settings later.' ); ?></div>
      </div>
    </div>
  </div>

  <!-- step 3 -->
  <div v-step="login.trim() && email.trim() && password.trim()" v-show hidden>
    <div class="t-center p-8">
      <h2>Step 2: Create account</h2>
      <p class="t-muted">The last step. Create a site administrator.</p>
    </div>
    <div class="card-hr">User credits</div>
    <div class="dg g-6 p-8 pb-0">
      <div class="dg g-1">
        <label class="dg g-1">
          <span class="df aic jcsb fw-600">User login</span>
          <input type="text" v-prop="login" placeholder="Enter login" required>
        </label>
        <div class="fs-13 t-muted"><?php I18n::e( 'Can use only alphanumeric characters, underscores, hyphens and @ symbol.' ); ?></div>
      </div>
      <div class="dg g-1">
        <label class="dg g-1">
          <span class="df aic jcsb fw-600">Email address</span>
          <input type="email" v-prop="email" placeholder="Enter email" required>
        </label>
        <div class="fs-13 t-muted"><?php I18n::e( 'Double-check your email address before continuing.' ); ?></div>
      </div>
      <div class="dg g-1">
        <label class="dg g-1">
          <span class="df aic jcsb fw-600">Password</span>
          <input type="password" v-prop="password" placeholder="Password" v-autocomplete required>
        </label>
        <div class="fs-13 t-muted"><?php I18n::e( 'You will need this password to sign&nbsp;in. Please store it in a secure location.' ); ?></div>
      </div>
    </div>
  </div>

  <!-- buttons -->
  <div class="p-8 df jcsb g-2">
    <button type="button" class="btn btn--outline" :disabled="$step.cannotGoBack()" @click="$step.goBack()" disabled>
      Back
    </button>
    <button type="button" class="btn btn--primary" :disabled="$step.cannotGoNext()" v-show="$step.isNotLast()" @click="$step.goNext()" disabled>
      Continue
    </button>
    <button type="submit" class="btn btn--primary" :disabled="$step.isUncompleted()" v-show="$step.isLast()" disabled>
      Install Grafema
    </button>
  </div>
</form>

<%= _.template(require('./parts/footer.html').default)(data) %>
