<% var data = {
  title: "To Do List"
}; %>
<%= _.template(require('./parts/header.html').default)(data) %>

<div x-data="{tasks: []}">
  <div>Add task:</div>
  <input placeholder="Add new task..." x-prop="value" />
  <button type="button" @click="tasks = [...tasks, {title: value, checked: false}]; value = ''" :disabled="!value.trim()">Add</button>
  <br>

  <div x-hide="tasks.length">
    <p>Tasks list:</p>
    <ul>
      <li x-each="(task, index) in tasks">
        <label>
          <input type="checkbox" @change="task.checked = !task.checked; console.log(tasks)" :checked="task.checked">
          <span x-text="task.title" :class="task.checked && 'strike'"></span>
        </label>
        <button @click="tasks = tasks.filter((_, i) => i != index)">Remove</button>
      </li>
    </ul>
    <button x-show="tasks.length" @click="tasks = []" hidden>Clear all</button>
  </div>
</div>

<%= _.template(require('./parts/footer.html').default)(data) %>
