<% var data = {
  title: "Список задач"
}; %>
<%= _.template(require('./parts/header.html').default)(data) %>

<h1>Список задач</h1>

<p>
  Практический пример, который показывает, как несколько директив Youla.js работают вместе
  в одном небольшом компоненте: <a href="/v-prop"><code>v-prop</code></a> связывает поле ввода с данными,
  <a href="/v-each"><code>v-each</code></a> строит список задач, <a href="/v-show"><code>v-show</code></a>
  прячет список и кнопку очистки, пока задач нет, а <a href="/attributes"><code>:class</code></a> и
  <a href="/v-text"><code>v-text</code></a> отображают состояние каждой задачи.
</p>

<pre>
&lt;div class=&quot;demo&quot; v-data=&quot;{tasks: []}&quot;&gt;
  &lt;div&gt;Добавить задачу:&lt;/div&gt;
  &lt;input placeholder=&quot;Введите новую задачу...&quot; v-prop=&quot;value&quot; /&gt;
  &lt;button type=&quot;button&quot; @click=&quot;tasks = [...tasks, {title: value, checked: false}]; value = &#39;&#39;&quot; :disabled=&quot;!value.trim()&quot;&gt;Добавить&lt;/button&gt;
  &lt;br&gt;

  &lt;div v-show=&quot;tasks.length&quot; hidden&gt;
    &lt;p&gt;Список задач:&lt;/p&gt;
    &lt;ul&gt;
      &lt;li v-each=&quot;(task, index) in tasks&quot;&gt;
        &lt;label&gt;
          &lt;input type=&quot;checkbox&quot; @change=&quot;task.checked = !task.checked&quot; :checked=&quot;task.checked&quot;&gt;
          &lt;span v-text=&quot;task.title&quot; :class=&quot;task.checked &amp;&amp; &#39;strike&#39;&quot;&gt;&lt;/span&gt;
        &lt;/label&gt;
        &lt;button @click=&quot;tasks = tasks.filter((_, i) =&gt; i != index)&quot;&gt;Удалить&lt;/button&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
    &lt;button v-show=&quot;tasks.length&quot; @click=&quot;tasks = []&quot; hidden&gt;Очистить всё&lt;/button&gt;
  &lt;/div&gt;
&lt;/div&gt;
</pre>

<div class="demo" v-data="{tasks: []}">
  <div>Добавить задачу:</div>
  <input placeholder="Введите новую задачу..." v-prop="value" />
  <button type="button" @click="tasks = [...tasks, {title: value, checked: false}]; value = ''" :disabled="!value.trim()">Добавить</button>
  <br>

  <div v-show="tasks.length" hidden>
    <p>Список задач:</p>
    <ul>
      <li v-each="(task, index) in tasks">
        <label>
          <input type="checkbox" @change="task.checked = !task.checked" :checked="task.checked">
          <span v-text="task.title" :class="task.checked && 'strike'"></span>
        </label>
        <button @click="tasks = tasks.filter((_, i) => i != index)">Удалить</button>
      </li>
    </ul>
    <button v-show="tasks.length" @click="tasks = []" hidden>Очистить всё</button>
  </div>
</div>

<%= _.template(require('./parts/footer.html').default)(data) %>
