<% var data = {
  title: "To Do List"
}; %>
<%= _.template(require('./parts/header.html').default)(data) %>

<h1>v-each</h1>

<p>
  Директива <code>v-each</code> позволяет создавать элементы DOM путем перебора списка.
  Вот простой пример создания списка цветов на основе массива.
</p>

<pre>
&lt;div v-data=&quot;{ colors: ['Red', 'Orange', 'Yellow'] }&quot;&gt;
  &lt;ul&gt;
    &lt;li v-each=&quot;color in colors&quot; v-text=&quot;color&quot;&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;
</pre>

<div v-data="{ colors: ['Red', 'Orange', 'Yellow'] }">
  <ul>
    <li v-each="color in colors" v-text="color"></li>
  </ul>
</div>

<p>
  Есть правило, на которое стоит обратить внимание: <code>v-each</code> должен быть объявлен
  на том элементе-шаблоне, который повторяется для каждой итерации цикла. Чтобы скрыть сам шаблон,
  добавьте css правило <code>display: none</code> для селектора <code> [v-each]</code>.
</p>

<p>Вы также можете передавать объекты и разбирать их следующим синтаксисом:</p>

<pre>
  &lt;ul v-data=&quot;{ cars: { make: 'Jeep', model: 'Grand Cherokee', color: 'Black' } }&quot;&gt;
    &lt;li v-each=&quot;(car, key) in cars&quot;&gt;
      &lt;span v-text=&quot;key&quot;&gt;&lt;/span&gt;: &lt;span v-text=&quot;car&quot;&gt;&lt;/span&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
</pre>

<ul v-data="{ cars: { make: 'Jeep', model: 'Grand Cherokee', color: 'Black' } }">
  <li v-each="(car, key) in cars">
    <span v-text="key"></span>: <span v-text="car"></span>
  </li>
</ul>

<p>А также создавать вложенные циклы с неограниченной глубиной</p>

<pre>
&lt;div v-data=&quot;{
  categories: [
    {
      name: &#039;Category 1&#039;,
      products: [
        { name: &#039;Product 1&#039; },
        { name: &#039;Product 2&#039; },
      ]
    },
    {
      name: &#039;Category 2&#039;,
      products: [
        { name: &#039;Product 3&#039; },
        { name: &#039;Product 4&#039;, attributes: [&#039;30x40mm&#039;, &#039;White&#039;] },
        { name: &#039;Product 5&#039;, attributes: [&#039;20x20mm&#039;, &#039;Black&#039;] },
      ]
    }
  ]
}&quot;&gt;
  &lt;div v-each=&quot;(category, index) in categories&quot;&gt;
    &lt;h3 v-text=&quot;category.name&quot;&gt;&lt;/h3&gt;
    &lt;ul&gt;
      &lt;li v-each=&quot;product in category.products&quot;&gt;
        &lt;strong v-text=&quot;product.name&quot;&gt;&lt;/strong&gt;
        Attributes:
        &lt;em v-each=&quot;attribute in product.attributes join &#039;, &#039;&quot; v-text=&quot;attribute&quot;&gt;&lt;/em&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
&lt;/div&gt;
</pre>

<div v-data="{
  categories: [
    {
      name: 'Category 1',
      products: [
        { name: 'Product 1' },
        { name: 'Product 2' },
      ]
    },
    {
      name: 'Category 2',
      products: [
        { name: 'Product 3', attributes: ['10x50mm', 'Yellow'] },
        { name: 'Product 4', attributes: ['30x40mm', 'White'] },
        { name: 'Product 5', attributes: ['20x20mm', 'Black'] },
      ]
    }
  ]
}">
  <div v-each="(category, index) in categories">
    <h3 v-text="category.name"></h3>
    <ul>
      <li v-each="product in category.products">
        <strong v-text="product.name"></strong>
        Attributes:
        <em v-each="attribute in product.attributes join ', '" v-text="attribute"></em>
      </li>
    </ul>
  </div>
</div>

<h2>Добавление разделителя</h2>

<p>
  Ключ <code>join</code> позволяет вставлять текстовый разделитель между элементами. Это упрощает создание списков,
  автоматически добавляя нужный символ (например, запятую, пробел или слэш) между элементами.
</p>

<pre>
&lt;p v-data=&quot;{ attributes: [&#039;White&#039;, &#039;20x30mm&#039;, &#039;Google LLC&#039;] }&quot;&gt;
  Характеристики: &lt;i v-each=&quot;attribute in attributes join &#039;, &#039;&quot; v-text=&quot;attribute&quot;&gt;&lt;/i&gt;
&lt;/p&gt;
</pre>

<p v-data="{ attributes: ['White', '20x30mm', 'Google LLC'] }">
  Характеристики: <i v-each="attribute in attributes join ', '" v-text="attribute"></i>
</p>

<h2>Доступ к индексам</h2>

<p>
  Если вам нужно получить доступ к индексу каждого элемента в итерации, вы
  можете сделать это, используя следующий синтаксис: <code>(item, index) in items</code>
</p>

<pre>
&lt;ul v-data=&quot;{ names: ['Ivan', 'Yulia', 'Evgeny'] }&quot;&gt;
  &lt;li v-each=&quot;(name, index) in names&quot;&gt;
    &lt;span v-text=&quot;&#x60;${++index}: ${name}&#x60;&quot;&gt;&lt;/span&gt;
  &lt;/li&gt;
&lt;/ul&gt;
</pre>

<ul v-data="{ names: ['Ivan', 'Yulia', 'Evgeny'] }">
  <li v-each="(name, index) in names">
    <span v-text="`${++index}: ${name}`"></span>
  </li>
</ul>

<h2>Итерация по диапазону</h2>

<p>Если вам нужно просто зациклить несколько раз, а не перебирать массив, Youla.js предлагает короткий синтаксис с указанием целого числа вместо свойства:</p>

<pre>
&lt;div v-data&gt;
  Рейтинг:
  &lt;span v-each=&quot;i in 5&quot;&gt;⭐&lt;/span&gt;
&lt;/div&gt;
</pre>

<div v-data>
  Рейтинг:
  <span v-each="i in 5">⭐</span>
</div>

<p>Обратите внимание, что в таком случае значения <code>i</code> начинаются с 1, а не с 0.</p>

<h2>Модификаторы</h2>

<p><code>.lazy</code></p>

<p>
  Предотвращает рендеринг списка при инициализации компонента и запускает рендер только при изменении привязанных данных.
  Это особенно полезно для предотвращения эффекта «flickering» (мерцания страницы) страницы и улучшения SEO-оптимизации.
</p>

<blockquote>
  <p>Как это работает</p>
  <p>
    Первичный рендеринг реализуется через серверную часть: браузер сразу отображает контент, не дожидаясь
    загрузки JS или данных. После загрузки JS, происходит гидратация: Youla.js "привязывает" данные к уже
    отрендеренному HTML, обеспечивая интерактивность и возможность динамического обновления.
  </p>
</blockquote>

<pre>
&lt;div v-data=&quot;{devices: []}&quot;&gt;
  &lt;button type=&quot;button&quot; @click=&quot;devices = [&#039;Headphones&#039;, &#039;VR Glasses&#039;]&quot;&gt;Обновить список&lt;/button&gt;
  &lt;ul&gt;
    &lt;li v-each.lazy=&quot;device in devices&quot; v-text=&quot;device&quot;&gt;&lt;/li&gt;
    &lt;li&gt;Phones&lt;/li&gt;
    &lt;li&gt;Laptops&lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;
</pre>

<div v-data="{devices: []}">
  <button type="button" @click="devices = ['Headphones', 'VR Glasses']">Обновить список</button>
  <ul>
    <li v-each.lazy="device in devices" v-text="device"></li>
    <li>Phones</li>
    <li>Laptops</li>
  </ul>
</div>

<%= _.template(require('./parts/footer.html').default)(data) %>
