<% var data = {
title: "To Do List"
}; %>
<%= _.template(require('./parts/header.html').default)(data) %>

<h1>x-prop</h1>

<p>
  Директива позволяет связать значения полей ввода <code>input</code>, <code>select</code>
  и <code>textarea</code> к <code>x-data</code> без объявления их в директиве.
  Такой подход позволяет не повторяться и сделать html представление более лаконичным. Сравните 2 по смыслу идентичных подхода:
</p>

<table>
  <tbody>
    <tr>
      <td>
        <pre>&lt;form x-data&gt;
  &lt;input type=&quot;text&quot; value=&quot;Hello&quot; x-prop=&quot;test&quot;&gt;
  &lt;span x-text=&quot;test&quot;&gt;&lt;/span&gt;
&lt;/form&gt;</pre>
      </td>
      <td>
        <pre>&lt;form x-data=&quot;{test: 'Hello'}&quot;&gt;
  &lt;input type=&quot;text&quot; value=&quot;Hello&quot; @keydown.delay.1ms=&quot;test = $el.value&quot;&gt;
  &lt;span x-text=&quot;test&quot;&gt;&lt;/span&gt;
&lt;/form&gt;</pre>
      </td>
    </tr>
  </tbody>
</table>

<p>Во втором случае не требуется объявления в директиве x-data</p>

<h2>Модификаторы</h2>

<p><code>.local</code></p>

<p><code>.cookie</code></p>

<%= _.template(require('./parts/footer.html').default)(data) %>
