<% var data = {
  title: "To Do List"
}; %>
<%= _.template(require('./parts/header.html').default)(data) %>

<h1>x-text</h1>

<p>
  Директива <code>x-text</code> устанавливает текстовое содержимое элемента,
  экранируя HTML-теги. Это аналог свойства innerText в JavaScript.
</p>

<pre>
&lt;div x-data=&quot;{username: &#039;Yan Aleksandrov&#039;}&quot;&gt;
  Имя: &lt;strong x-text=&quot;username&quot;&gt;&lt;/strong&gt;
&lt;/div&gt;
</pre>

<div class="demo" x-data="{username: 'Yan Aleksandrov'}">
  Имя: <strong x-text="username"></strong>
</div>

<%= _.template(require('./parts/footer.html').default)(data) %>
