<!-- Toolbox > Position section's own "Alignment" control — see textarea.html's own comment on why
     there's no own ".editrix-control" wrapper here. -->

<template id="editrix-control-alignment">
  <div class="editrix-control-head">
    Alignment
  </div>
  <div class="editrix-buttons">
    <div class="editrix-buttons-items">
      <span class="editrix-buttons-item"><i class="ph ph-align-left"></i></span>
      <span class="editrix-buttons-item"><i class="ph ph-align-center-horizontal"></i></span>
      <span class="editrix-buttons-item"><i class="ph ph-align-right"></i></span>
    </div>
    <div class="editrix-buttons-items">
      <span class="editrix-buttons-item"><i class="ph ph-align-top"></i></span>
      <span class="editrix-buttons-item"><i class="ph ph-align-center-vertical-simple"></i></span>
      <span class="editrix-buttons-item"><i class="ph ph-align-bottom"></i></span>
    </div>
    <span class="editrix-buttons-item"><i class="ph ph-dots-three"></i></span>
  </div>
</template>
