<template id="editrix-control-repeater">
  <div class="editrix-repeater">
    <div class="editrix-repeater-list" data-part="list"></div>

    <i class="ph ph-caret-double-down" data-part="toggle-all" title="Expand all"></i>

    <button type="button" class="editrix-repeater__add" data-part="add">
      <i class="ph ph-plus"></i>
      <span>Add item</span>
    </button>
  </div>
</template>

<template id="editrix-repeater-item-template">
  <div class="editrix-repeater-item" data-repeater-item>
    <div class="editrix-repeater-item__head" data-part="toggle">
      <i class="ph ph-dots-six-vertical editrix-repeater-item__handle" title="Drag to reorder"></i>
      <span class="editrix-repeater-item__label" data-part="label"></span>
      <i class="ph ph-eye editrix-repeater-item__visibility" data-part="visibility" title="Toggle visibility"></i>
      <i class="ph ph-trash editrix-repeater-item__remove" data-part="remove" title="Remove item"></i>
    </div>
    <div class="editrix-repeater-item__body" data-part="body"></div>
  </div>
</template>
